<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
<style>
    body {
        --pagefind-ui-background: #eee !important;
    }

    .dark body {
        --pagefind-ui-primary: #eeeeee !important;
        --pagefind-ui-text: #eeeeee !important;
        --pagefind-ui-background: #272727 !important;
        --pagefind-ui-border: #272727 !important;
        --pagefind-ui-tag: #152028 !important;
    }

    .pagefind-ui__search-input {
        transition-timing-function: cubic-bezier(0, 0, .2, 1);
        transition-duration: 200ms;
    }
    
    .pagefind-ui__search-clear {
        display: none;
    }
    .pagefind-ui__result-inner {
        overflow: scroll;
    }
</style>
<div id="search"></div>
<br />
<script>
    let hidden_posts = false;
    const start_search_referesh = () => {
        let search = document.getElementsByClassName("pagefind-ui__search-input")[0];
        search.addEventListener("input", (event) => {
            if (event.target.value != "") {
                if (hidden_posts) return
                let posts = document.getElementsByClassName("post-elements")
                for (let i = 0; i < posts.length; i++) {
                    posts[i].style.display = "none";
                }
                hidden_posts = true;
            } else {
                if (!hidden_posts) return
                let posts = document.getElementsByClassName("post-elements")
                for (let i = 0; i < posts.length; i++) {
                    posts[i].style.display = "block";
                }
                hidden_posts = false;
            }
        });
    }
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
            element: "#search",
            processResult: (result) => {
              if (result.meta.image == undefined){
                result.meta.image = "/icon.png"
              }
              let image_url = result.meta.image
              if (!image_url.match("^https?://.*") && image_url[0] != "/"){
                result.meta.image = result.url+result.meta.image
              }  
              return result;
            }
        });
        start_search_referesh()
    })

</script>
</br>
